<div class="modal fade" id="modal-quotation">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t(".new_quotation") %></h4>
      </div>
      <div class="modal-body">


        <%= form_for @quotation , :html=> {:id => 'quot_form'} do |f| %>


        <div class="box-body">
          <div class="row col-md-12 " id="quot_message" style="display:none;" >
            <div class="alert alert-danger alert-dismissible">
              <div id="quot_message_text">
              </div>
            </div>
          </div>
        <div class="row col-md-12">
          <div class="col-md-6   <%= error_div @quotation, :type_quote %>">
              <%= f.label :type_quote %> <br>
              <%=
              f.select :type_quote, Quotation.quotation_types.keys.map { |key,_| [t("enums.quotation_type.#{key}"), key] },{ include_blank: true } ,:class => "form-control"
              %>
              <%= error_tag @quotation, :type_quote %>
          </div>


          <div class="col-md-6   <%= error_div @quotation, :indication %>">
              <%= f.label :indication %> <br>
              <%=
              f.select :indication, Quotation.quotation_indications.keys.map { |key,_| [t("enums.quotation_indication.#{key}"), key] },{ include_blank: true } ,:class => "form-control"
              %>
              <%= error_tag @quotation, :indication %>
          </div>
        </div>



          <div class="row col-md-12">
            <div class="col-md-12   <%= error_div @quotation, :quotation %>">
                <%= f.label :quotation %> <br>
                <%= f.text_area :quotation, cols: 20, rows: 10 ,:class => "form-control" %>
                <%= error_tag @quotation, :quotation %>
            </div>
          </div>

          <div class="row col-md-12">
            <div class="col-md-6 ">

                <%= f.label :content %><br>
                <%= f.hidden_field :content_id %>
                <%= f.text_field :content_description, :class => "form-control", :readonly => "readonly" %>
                <%= error_tag @quotation, "content_id" %>
            </div>

            <div class="col-md-6   <%= error_div @quotation, :order %>">

                <%= f.label :order %> <br>
                <%= f.text_field :order, {:class => "form-control"} %>
                <%= error_tag @quotation, :order %>

            </div>
          </div>


          <div class="row col-md-12">
            <div class="col-md-6   <%= error_div @quotation, :page_initial %>">

                <%= f.label :page_initial %> <br>
                <%= f.text_field :page_initial, {:class => "form-control"} %>
                <%= error_tag @quotation, :page_initial %>

            </div>
            <div class="col-md-6   <%= error_div @quotation, :page_final %>">

                <%= f.label :page_final %> <br>
                <%= f.text_field :page_final, {:class => "form-control"} %>
                <%= error_tag @quotation, :page_final %>

            </div>
          </div>


          <div class="row col-md-12">
          <br>
          <div class="box box-danger">
          <div class="box box-default">
          <div class="row col-md-12">
          <div class="row col-md-12">
          <h4><%= t '.quotation_people' %></h4>

          </div>
          </div>
          <div class="box-body">
          <div class="row" id="quotation_people_div">
          <%= hidden_field_tag "quotation[size_people]", @quotation.quotation_people.size %>
          <%= f.fields_for :quotation_people do |cp| %>
             <%= render 'quotation_person_fields', f: cp %>
          <% end %>
          </div>
          <br>
          <%= link_to_add_association t('.add_person'), f, :quotation_people, :class => 'btn btn-primary' %>
          </div>

          </div>
          </div>
          </div>






          </div>

        <% end %>






      </div>
      <div class="modal-footer">
        <%= content_tag :button, t('button.save_2'), :class => 'btn btn-primary', :onclick =>"save_quotation()", :type => :button, :id => :save_quotation %>
      </div>




    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



<% content_for :javascript do %>

  $(".remove_fields").on("click", function() {return confirm("<%= t('dialogs.remove_confim') %>") ;});

  $(function () {
     CKEDITOR.replace('quotation_quotation');
   })


  $("#quotation_page_initial").change(function() {
    $("#quotation_page_final").val( $("#quotation_page_initial").val() );
  });



  function save_quotation(){

        var urlQuotation="<%= quotations_path %>?modal=y&content_id=<%=@content.id%>";

        var form=$('#quot_form').serializeArray();
        form.push({ name : 'modal', value : 'y' });
        form.push({ name : 'quotation[quotation]', value : CKEDITOR.instances.quotation_quotation.getData() });

      //  console.log(form);
      //  console.log(urlQuotation);
		  	$.ajax({
			  	//timeout : 600000,
			  	url : urlQuotation,
			  	data : form,
			  	type : 'POST',
			  	dataType : 'json',
			  	success : function(json) {
            //console.log(json);
            if(json.status=="success"){
              window.location.href = json.url + "?quotation=y";
            }else{
              $("#quot_message").show();
              $("#quot_message_text").html(json.message);
              console.log(json.message)
            }
			  	},
			  	error : function(xhr, status) {
			  		alert('Please try again...');
			  	},
			  	complete : function(xhr, status) {

			  		$("#save_quotation").attr("disabled", false);

			  	},

			  	beforeSend: function(){

		  	   $("#save_quotation").attr("disabled", true);

			  	}
		  	});

  }



   $("[id^=quotation_quotation_people_attributes_]").on("focus", function() {
     $(this).autocomplete({
     source: function( request, response ) {
       $.ajax({
         url: "<%= person_json_path %>",
         dataType: "json",
         method : 'GET',
         data: {
           name: request.term
         },
         success: function( data ) {
           console.log(data);
           response( data);
         },
         error : function(xhr, status) {
           alert('It happened some error, please try again later...');
           }
       });
     },
     minLength: 3,
     select: function( event, ui ) {

       $(this).val(ui.item.name);

       var idAutoComplete=$(this).attr("id");
       idAutoComplete=idAutoComplete.replace("quotation_quotation_people_attributes_","");
       idAutoComplete=idAutoComplete.replace("_person_name","");
       console.log(idAutoComplete+"CC");

       $("#quotation_quotation_people_attributes_"+idAutoComplete+"_person_id").val(ui.item.id);
       console.log($("#quotation_quotation_people_attributes_"+idAutoComplete+"_person_id").val()+"A");

     },
     change: function( event, ui ) {
       if(ui.item){

       }else{
         //caso nao selecione nenhuma linha, limpa tudo
         // f.options[:child_index] = f.index  -> it works the same way to get the child index form
         idAutoComplete=idAutoComplete.replace("quotation_quotation_people_attributes_","");
         idAutoComplete=idAutoComplete.replace("_person_name","");
         $("#quotation_quotation_people_attributes_"+idAutoComplete+"_person_id").val('');

         $(this).val('');

       }
     }
   });
   });




<% end %>
