<% content_for :head do %>
  <%= t '.title' %>
<% end %>

<% if @content.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible">
    <%= t 'general.form_error' %>
  </div>
<% end %>

<%= form_for @content do |f| %>

<%= render 'form' , f: f %>

<div class="box-footer">
  <%= button_save new_content_path,contents_path,f %>
  <%= button_inactivate(@content,content_url(@content,:activate =>:activate)) %>
</div>
<% end %>
