<% content_for :head do %>
  <%= t '.title' %>
<% end %>

<% if @content.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible">
    <%= t 'general.form_error' %>
  </div>
<% end %>

<% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible">
      <%= flash[:notice] %>
    </div>
<% end %>




<!-- Custom Tabs -->
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li <%= @show_tab1 %> ><a href="#tab_1" data-toggle="tab"><%= t(".content")%></a></li>
        <li><a href="#tab_2" data-toggle="tab"><%= t(".summary") %></a></li>
        <li <%= @show_tab3 %> ><a href="#tab_3" data-toggle="tab"><%= t(".quotation") %></a></li>
        <li><a href="#tab_4" data-toggle="tab"><%= t(".review") %></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane <%= @show_tab_det1 %>" id="tab_1">
          <%= form_for @content do |f| %>

          <%= render 'form' , f: f %>

          <div class="box-footer">
            <%= button_save new_content_path,contents_path,f %>
            <%= button_inactivate(@content,content_url(@content,:activate =>:activate)) %>
          </div>
          <% end %>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            <%= render 'summaries'  %>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane <%= @show_tab_det3 %>" id="tab_3">
            <%= render 'quotations'  %>
        </div>
        <!-- /.tab-pane -->
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_4">
            <%= render 'reviews'  %>
        </div>
        <!-- /.tab-pane -->
      </div>
      <!-- /.tab-content -->
    </div>
    <!-- nav-tabs-custom -->
