<% content_for :head do %>
  <%= t '.title' %>
<% end %>


<% if @content_type.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible">
    <%= t 'general.form_error' %>
  </div>
<% end %>

<%= form_for @content_type do |f| %>
<div class="box box-primary">
<div class="box box-default">

  <%= render 'form' , f: f %>
  <div class="box-footer">
  <%= button_save new_content_type_path,content_types_path,f %>
  </div>

</div>
</div>
<% end %>
