<div class="box-body">
  <div class="row col-md-12">
    <div class="col-md-6   <%= error_div @summary, :description %>">

        <%= f.label :description %> <br>
        <%= f.text_field :description,  :class => "form-control" %>
        <%= error_tag @summary, :description %>

    </div>


    <div class="col-md-3   <%= error_div @summary, :type_summary %>">
        <%= f.label :type_summary %> <br>
        <%=
        f.select :type_summary, Summary.summary_types.keys.map { |key,_| [t("enums.summary_type.#{key}"), key] },{ include_blank: true } ,:class => "form-control"
        %>
        <%= error_tag @summary, :type_summary %>
    </div>

  </div>


  <div class="row col-md-12">



  <div class="row col-md-12">
    <div class="col-md-12   <%= error_div @summary, :text %>">
        <%= f.label :text %> <br>
        <%= f.text_area :text, cols: 20, rows: 10 ,:class => "form-control" %>
        <%= error_tag @summary, :text %>
    </div>
  </div>



  </div>
</div>


<% content_for :javascript do %>

$(".remove_fields").on("click", function() {return confirm("<%= t('dialogs.remove_confim') %>") ;});

$(function () {

   //bootstrap WYSIHTML5 - text editor
   $('#summary_text').wysihtml5()
 })










 $(document).on("cocoon:after-insert",   function(e, inserted_item) {

   $(".remove_fields").on("click", function() {return confirm("<%= t('dialogs.remove_confim') %>") ;});

   $("[id^=summary_summary_contents_attributes_]").on("focus", function() {
         $(this).autocomplete({



           source: function( request, response ) {
             $.ajax({
               url: "<%= content_json_path %>",
               dataType: "json",
               method : 'GET',
               data: {
                 description: request.term
               },
               success: function( data ) {
                 response( data);
               },
               error : function(xhr, status) {
                 alert('It happened some error, please try again later...');
                 }
             });
           },
           minLength: 3,
           select: function( event, ui ) {

             $(this).val(ui.item.name);

             var idAutoComplete=$(this).attr("id");
             idAutoComplete=idAutoComplete.replace("summary_summary_contents_attributes_","");
             idAutoComplete=idAutoComplete.replace("_content_description","");

             $("#summary_summary_contents_attributes_"+idAutoComplete+"_content_id").val(ui.item.id);
             console.log($("#summary_summary_contents_attributes_"+idAutoComplete+"_content_id").val()+"A");
           },
           change: function( event, ui ) {
             if(ui.item){

             }else{
               //caso nao selecione nenhuma linha, limpa tudo

               var idAutoComplete=$(this).attr("id");
               idAutoComplete=idAutoComplete.replace("summary_summary_contents_attributes_","");
               idAutoComplete=idAutoComplete.replace("_content_description","");

               $("#summary_summary_contents_attributes_"+idAutoComplete+"_content_id").val("");
               $(this).val('');
             }
           }
         });
     });
 })





   $("[id^=summary_summary_contents_attributes_]").on("focus", function() {
     $(this).autocomplete({



       source: function( request, response ) {
         $.ajax({
           url: "<%= content_json_path %>",
           dataType: "json",
           method : 'GET',
           data: {
             description: request.term
           },
           success: function( data ) {
             response( data);
           },
           error : function(xhr, status) {
             alert('It happened some error, please try again later...');
             }
         });
       },
       minLength: 3,
       select: function( event, ui ) {

         $(this).val(ui.item.name);

         var idAutoComplete=$(this).attr("id");
         idAutoComplete=idAutoComplete.replace("summary_summary_contents_attributes_","");
         idAutoComplete=idAutoComplete.replace("_content_description","");

         $("#summary_summary_contents_attributes_"+idAutoComplete+"_content_id").val(ui.item.id);
         console.log($("#summary_summary_contents_attributes_"+idAutoComplete+"_content_id").val()+"A");
       },
       change: function( event, ui ) {
         if(ui.item){

         }else{
           //caso nao selecione nenhuma linha, limpa tudo

           var idAutoComplete=$(this).attr("id");
           idAutoComplete=idAutoComplete.replace("summary_summary_contents_attributes_","");
           idAutoComplete=idAutoComplete.replace("_content_description","");

           $("#summary_summary_contents_attributes_"+idAutoComplete+"_content_id").val("");
           $(this).val('');
         }
       }
     });
 });





<% end %>
