<% content_for :head do %>
  <%= t '.title' %>
<% end %>

<% if @summary.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible">
    <%= t 'general.form_error' %>
  </div>
<% end %>

<%= form_for @summary do |f| %>
<div class="box box-primary">
<div class="box box-default">


  <%= render 'form' , f: f %>
  <div class="box-footer">
    <%= button_save new_summary_path,summaries_path,f %>
    <%= button_inactivate(@summary,summary_url(@summary,:activate =>:activate)) %>

  </div>
</div>
</div>
<% end %>
