<div class="box-body">
  <div class="row col-md-12">
    <div class="col-md-6   <%= error_div @person, :name %>">

        <%= f.label :name %> <br>
        <%= f.text_field :name,  :class => "form-control" %>
        <%= error_tag @person, :name %>

    </div>


    <div class="col-md-3   <%= error_div @person, :type_person %>">
        <%= f.label :type_person %> <br>
        <%=
        f.select :type_person, Person.type_people.keys.map { |key,_| [t(".#{key}"), key] },{ include_blank: true } ,:class => "form-control"
        %>
        <%= error_tag @person, :type_person %>
    </div>

  </div>





  <div class="row col-md-12">
    <div class="col-md-9   <%= error_div @person, :biography %>">
        <%= f.label :biography %> <br>
        <%= f.text_area :biography, cols: 20, rows: 10 ,:class => "form-control" %>
        <%= error_tag @person, :biography %>
    </div>
  </div>

  <div class="row col-md-12">
    <div class="col-md-9   <%= error_div @person, :main_thoughts %>">
        <%= f.label :main_thoughts %> <br>
        <%= f.text_area :main_thoughts, cols: 20, rows: 10 ,:class => "form-control" %>
        <%= error_tag @person, :main_thoughts %>
    </div>
  </div>

</div>
