<div class="box-body">
  <div class="row col-md-12">
    <div class="col-md-6   <%= error_div @content_summary, :description %>">

        <%= f.label :description %> <br>
        <%= f.text_field :description,  :class => "form-control" %>
        <%= error_tag @content_summary, :description %>

    </div>


    <div class="col-md-3   <%= error_div @content_summary, :type_content_summary %>">
        <%= f.label :type_content_summary %> <br>
        <%=
        f.select :type_content_summary, ContentSummary.content_summary_types.keys.map { |key,_| [t("enums.content_summary_type.#{key}"), key] },{ include_blank: true } ,:class => "form-control"
        %>
        <%= error_tag @content_summary, :type_content_summary %>
    </div>

  </div>


  <div class="row col-md-12">
    <div class="col-md-4 ">

        <%= f.label :content %><br>
        <%= f.hidden_field :content_id %>
        <%= f.text_field :content_description, :class => "form-control" %>
        <%= error_tag @content_summary, "content_id" %>
    </div>
  </div>


  <div class="row col-md-12">
    <div class="col-md-12   <%= error_div @content_summary, :text %>">
        <%= f.label :text %> <br>
        <%= f.text_area :text, cols: 20, rows: 10 ,:class => "form-control" %>
        <%= error_tag @content_summary, :text %>
    </div>
  </div>



</div>


<% content_for :javascript do %>

$(function () {

   //bootstrap WYSIHTML5 - text editor
   $('#content_summary_text').wysihtml5()
 })








 $("#content_summary_content_description").autocomplete({

   source: function( request, response ) {
     $.ajax({
       url: "<%= content_json_path %>",
       dataType: "json",
       method : 'GET',
       data: {
         description: request.term
       },
       success: function( data ) {
         response( data);
       },
       error : function(xhr, status) {
         alert('It happened some error, please try again later...');
         }
     });
   },
   minLength: 3,
   select: function( event, ui ) {

     $("#content_summary_content_id").val(ui.item.id);
     $("#content_summary_content_description").val(ui.item.label);
   },
   change: function( event, ui ) {
     if(ui.item){

     }else{
       //caso nao selecione nenhuma linha, limpa tudo

       $("#content_summary_content_id").val('');
       $("#content_summary_content_description").val('');
     }
   }
 });


<% end %>
