
  <div class="row col-md-12">
    <div class="col-md-4 ">

      <%= label_tag("quotation[quotation_people_attributes][#{@size_people}][person_id]",
      t("activerecord.attributes.quotation_person.person") ) %> <br>
      <%= hidden_field_tag "quotation[quotation_people_attributes][#{@size_people}][person_id]", "", :class => "form-control" %>
      <%= text_field_tag "quotation[quotation_people_attributes][#{@size_people}][person_name]", "", :class => "form-control" %>
    </div>


    <div class="col-md-4 ">


        <%= label_tag("quotation[quotation_people_attributes][#{@size_people}][type_person]",
        t("activerecord.attributes.quotation_person.type_person") ) %><br>

        <%=
        select_tag("quotation[quotation_people_attributes][#{@size_people}][type_person]",
        options_for_select(QuotationPerson.type_content_people.map{|key,_| [t("enums.type_content_person.#{key}"), key]}),
        { include_blank: true ,:class => "form-control"})
        %>
    </div>


    <div class="col-md-4 ">
    <br>
    <%=link_to_remove_association t('.remove_person'), f,
    {:wrapper_class=> 'row', :class=> 'btn btn-primary'} %>
    </div>

  </div>


  <script>




      $("#quotation_quotation_people_attributes_<%=@size_people%>_person_name").autocomplete({

        source: function( request, response ) {
          $.ajax({
            url: "<%= person_json_path %>",
            dataType: "json",
            method : 'GET',
            data: {
              name: request.term
            },
            success: function( data ) {
              response( data);
            },
            error : function(xhr, status) {
              alert('It happened some error, please try again later...');
              }
          });
        },
        minLength: 3,
        select: function( event, ui ) {

          $(this).val(ui.item.name);
          $("#quotation_quotation_people_attributes_<%=@size_people%>_person_id").val(ui.item.id);

        },
        change: function( event, ui ) {
          if(ui.item){

          }else{
            //caso nao selecione nenhuma linha, limpa tudo

            $("#quotation_quotation_people_attributes_<%=@size_people%>_person_id").val('');
            $(this).val('');
          }
        }
      });




  </script>
