<% content_for :head do %>
  <%= t '.title' %>
<% end %>

<% if @quotation.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible">
    <%= t 'general.form_error' %>
  </div>
<% end %>

<%= form_for @quotation do |f| %>

<%= render 'form' , f: f %>




<div class="box-footer">
  <%= button_save new_quotation_path,quotations_path,f %>
  <%= button_inactivate(@quotation,quotation_url(@quotation,:activate =>:activate)) %>

</div>
<% end %>
