<%= form_tag subjects_path, :method => :get, :class => 'search' do %>
<%= hidden_field_tag :q, 'q' %>

<div class="box-header">
<%= button_index new_subject_path %>
</div>

<div class="box box-default">
  <div class="box-body">
    <div class="row col-md-12">
      <div class="col-md-6">
        <%= t ".description" %> <br>
        <%= text_field_tag "subject[description]", @subject["description"],:placeholder => t('.description'), :class => "form-control" %>
      </div>

      <div class="col-md-6">
        <%= t ".inactive" %> <br>
        <%= hidden_field_tag "subject[inactive]", "N" %>
        <%= check_box_tag "subject[inactive]", "Y",  (@subject["inactive"]=="Y")  %>
      </div>
    </div>
  </div>
</div>
<% end %>
